@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

* {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #000;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #121212;
}

.container-initial {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8vh;
}

.search_music {
  position: relative;
}

.search_music input {
  width: 30vw;
  height: 7vh;
  border-radius: 5px;
  border: none;
  outline: none;
}


.music-plataform {
  padding: 10px;
  border-radius: 5px;
  border: #ffffff22 2px solid;
  width: 30vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  background-color: #2a2828;
}

.music-plataform-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.skletonimg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px !important;
  width: 18vw !important;
  height: 35vh !important;
}

.music-plataform-controls {
  display: flex;
  align-items: center;
  gap: 5vw;
  flex-direction: row;
  flex-wrap: nowrap;
  width: max-content;
}

.track-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #afacac;
  width: auto;
  font-size: 2.5vh;
  transition-property: color;
  transition-duration: 500ms;
}

.track-icons:hover {
  color: white;
}


.fi-br-play,
.fi-br-pause {
  color: rgb(192, 189, 189);
  background-color: rgb(82, 80, 80);
  padding: 5px;
  border-radius: 50%;
  font-size: 3vh;
}


#imagem-da-musica {
  transition-duration: 500ms;
  transition-property: opacity;
}

.music-plataform-textfield {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#title-track {
  font-weight: 800;
  color: white;
  font-size: 1.5rem;
}

#artits-track {
  color: #8b8b8b;
  font-size: 1rem;
  font-weight: 500;
}